HZ60V1_0924/HZ60V1_kurzusfelvetel.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT HZ60V1_kurzusfelvetel (hallgató+, kurzusok)>
<!ATTLIST HZ60V1_kurzusfelvetel tanev CDATA #IMPLIED>
<!ATTLIST HZ60V1_kurzusfelvetel egyetem CDATA #REQUIRED>

<!ELEMENT hallgató (hallgato)*>
<!ELEMENT hallgato (hnev+, szulnev*, szak+)>
<!ELEMENT hnev (#PCDATA)>
<!ELEMENT szulnev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>

<!ELEMENT kurzusok (kurzus)*>
<!ELEMENT kurzus (kurzusnev, kredit, hely, idopont+, (oktato | oraado)?)>
<!ATTLIST kurzus id ID #REQUIRED>
<!ATTLIST kurzus jovahagyas (igen | nem) "nem">
<!ATTLIST kurzus nyelv CDATA #REQUIRED>
<!ELEMENT kurzusnev (#PCDATA)>
<!ELEMENT kredit (#PCDATA)>
<!ELEMENT hely (#PCDATA)>
<!ELEMENT idopont (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT oraado (#PCDATA)>
