HZ60V1_1015/HZ60V1_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etterem" type="etteremTipus" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element name="foszakacs" type="foszakacsTipus" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element name="szakacs" type="szakacsTipus" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element name="gyakornok" type="gyakornokTipus" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element name="vendeg" type="vendegTipus" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element name="rendeles" type="rendelesTipus" minOccurs="1" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
            <xs:attribute name="ekod" type="xs:ID"></xs:attribute>
        </xs:complexType>

        <!-- Elsodleges kulcsok-->

        <xs:key name="Etterem_kulcs">
            <xs:selector xpath="etterem"/>
            <xs:field xpath="@ekod"/>
        </xs:key>

        <xs:key name="Foszakacs_kulcs">
            <xs:selector xpath="foszakacs"/>
            <xs:field xpath="@fkod"/>
        </xs:key>
    
        <xs:key name="Szakacs_kulcs">
            <xs:selector xpath="szakacs"/>
            <xs:field xpath="@szkod"/>
        </xs:key>
   
        <xs:key name="Gyakornok_kulcs">
            <xs:selector xpath="gyakornok"/>
            <xs:field xpath="@gykod"/>
        </xs:key>
    
        <xs:key name="Vendeg_kulcs">
            <xs:selector xpath="vendeg"/>
            <xs:field xpath="@vkod"/>
        </xs:key>
   
        <xs:key name="Rendeles_kulcs">
            <xs:selector xpath="rendeles"/>
            <xs:field xpath="@rkod"/>
        </xs:key>

        <!-- Idegen kulcsok-->

        <xs:keyref name="Foszakacs_Etterem_FK" refer="Etterem_kulcs">
            <xs:selector xpath="foszakacs"/>
            <xs:field xpath="@e_f"/>
        </xs:keyref>

        <xs:keyref name="Szakacs_Etterem_FK" refer="Etterem_kulcs">
            <xs:selector xpath="szakacs"/>
            <xs:field xpath="@e_sz"/>
        </xs:keyref>

        <xs:keyref name="Gyakornok_Etterem_FK" refer="Etterem_kulcs">
            <xs:selector xpath="gyakornok"/>
            <xs:field xpath="@e_gy"/>
        </xs:keyref>

        <xs:keyref name="Vendeg_Rendeles_FK" refer="Rendeles_kulcs">
            <xs:selector xpath="vendeg"/>
            <xs:field xpath="@r_v"/>
        </xs:keyref>

        <xs:keyref name="Rendeles_Etterem_FK" refer="Etterem_kulcs">
            <xs:selector xpath="rendeles"/>
            <xs:field xpath="@e_r"/>
        </xs:keyref>
    </xs:element>

    <!-- Komplex Tipusok-->

    <xs:complexType name="etteremTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"></xs:element>
            <xs:element name="cim" type="cimTipus"></xs:element>
            <xs:element name="csillag" type="xs:int"></xs:element>
        </xs:sequence>
        <xs:attribute name="ekod" type="xs:ID" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="foszakacsTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"></xs:element>
            <xs:element name="eletkor" type="xs:int"></xs:element>
            <xs:element name="vegzettseg" type="xs:string"></xs:element>
        </xs:sequence>
        <xs:attribute name="fkod" type="xs:ID" use="required"></xs:attribute>
        <xs:attribute name="e_f" type="xs:IDREF" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="szakacsTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"></xs:element>
            <xs:element name="reszleg" type="xs:string"></xs:element>
            <xs:element name="vegzettseg" type="xs:string"></xs:element>
        </xs:sequence>
        <xs:attribute name="szkod" type="xs:ID" use="required"></xs:attribute>
        <xs:attribute name="e_sz" type="xs:IDREF" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="gyakornokTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"></xs:element>
            <xs:element name="gyakorlat" type="gyakorlatTipus"></xs:element>
            <xs:element name="muszak" type="xs:string"></xs:element>
        </xs:sequence>
        <xs:attribute name="gykod" type="xs:ID" use="required"></xs:attribute>
        <xs:attribute name="e_gy" type="xs:IDREF" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="vendegTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"></xs:element>
            <xs:element name="eletkor" type="xs:int"></xs:element>
            <xs:element name="cim" type="cimTipus"></xs:element>
        </xs:sequence>
        <xs:attribute name="vkod" type="xs:ID" use="required"></xs:attribute>
        <xs:attribute name="r_v" type="xs:IDREF" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="rendelesTipus">
        <xs:sequence>
            <xs:element name="osszeg" type="xs:int"></xs:element>
            <xs:element name="etel" type="xs:string"></xs:element>
        </xs:sequence>
        <xs:attribute name="rkod" type="xs:ID" use="required"></xs:attribute>
        <xs:attribute name="e_r" type="xs:IDREF" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="cimTipus">
        <xs:sequence>
            <xs:element name="varos" type="xs:string"></xs:element>
            <xs:element name="utca" type="xs:string"></xs:element>
            <xs:element name="hazszam" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="gyakorlatTipus">
        <xs:sequence>
            <xs:element name="kezdet" type="xs:string"></xs:element>
            <xs:element name="idotartam" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    
</xs:schema>